<div class="row">
  <div class="col-lg-5">
    <%= column_chart @download_chart, height: "500px", width: "300px", xtitle: t("chart.month"), ytitle: t("chart.times"), title: t("chart.download"), messages: {empty: t("chart.no_data")} %>
  </div>
  <div class="col-lg-5">
    <%= column_chart @upload_chart,  height: "500px", width: "300px", xtitle: t("chart.month"), ytitle: t("chart.times"), title: t("chart.upload"), messages: {empty: t("chart.no_data")} %>
  </div>
</div>

