<p>Xin chao <%= @resource.email %>!</p>

<p>Ai do da yeu cau doi mat khau. Ban co the thay doi mat khau bang duong link ben duoi:</p>

<p><%= link_to "Doi mat khau", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Neu ban khong yeu cau, hay bo qua buc thu nay.</p>
<p>Mat khau cua ban se khong thay doi cho toi khi ban truy cap duong link nay va thay doi mat khau.</p>
